@use 'uswds-core/src/styles/functions/units' as spacing;

// At the home page, we want to make sure the header and footer are always 
// at the top and bottom of the page, respectively.
.minh-viewport {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.fade {
  transition: opacity 0.5s ease-in-out; 
}

.fade-in {
  opacity: 1; 
}

.fade-out {
  opacity: 0;
}

main {
  display: flex; 
  flex-direction: column; 
  flex: 1; 

  section.homepage {
    display: flex;
    flex: 1;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(/images/homepage/background.jpeg);

    .hero {
      max-width: 800px;
      margin-left: 90px;
      text-transform: uppercase;

      h2 {
        color: white;
        font-size: 68px;
        margin-bottom: 40px;
      }
    }
  }
}

