$page-title-height: 60px;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "title"
    "sidenav"
    "content";

  @media (min-width: 640px) {
    grid-template-columns: 3fr 9fr;
    grid-template-areas: 
      "title title"
      "sidenav content";
  }
}

.title {
  grid-area: title;
  position: sticky;
  top: 0;
  background: white;
  height: $page-title-height;
  display: flex;
  align-items: center;
}

.sidenav {
  grid-area: sidenav;
  align-self: start;
  position: sticky;
  top: $page-title-height;
  background: white;
}

.content {
  grid-area: content;
}

/* Mobile sidenav - visible only on mobile */
.mobile-sidenav {
  display: block;
  
  @media (min-width: 640px) {
    display: none;
  }
}

/* Desktop sidenav - visible only on desktop */
.desktop-sidenav {
  display: none;
  
  @media (min-width: 640px) {
    display: block;
  }
}
